$lightblue: #ADD8E6;
$purple: #8e7cc3;
$blue: #0e4c84;

body {
  font-family: 'Ninja Naruto', sans-serif;
  background-color: $blue;
  color: #fff;
  padding-top: 50px;
  margin: 0;
  // Used to hide the overflow of the animated background
  height: 100%;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.board {
  .board-row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fff;
    // Specify that the squares on the bottom row DO NOT have that border on the bottom
    &:last-child {
      border-bottom: none;
    }
    .square {
      width: 80px;
      height: 80px;
      border-right: 2px solid #fff;
      font-size: 2.5rem;
      padding: 0;
      overflow: hidden;
      transition: all 0.2s;
      // Specify that the last squares in each row DO NOT have that border on the right
      &:last-child {
        border-right: none;
      }
      // The animation of the Xs/Os when there's a winner
      &.winning {
        animation: scaleText 1.5s ease-in infinite;
        @keyframes scaleText {
          0% {
            transform: 2.5rem;
          }
          50% {
            font-size: 3rem;
          }
          100% {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Colors of the text!
.text-blue {
  color: $lightblue;
}

.text-purple {
  color: $purple;
}

.status-message {
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: lighter;
  span {
    font-weight: normal;
  }
}

.btn-reset {
  font-size: 1rem;
  color: #fff;
  border-radius: 15px;
  padding: 12px 18px;
  margin-top: 39px;
  transition: all 0.2s;
  background-color: $blue;
  box-shadow: 0px 0px 0px 1px $purple;
  &.active {
    background-color: $purple;
    box-shadow: none;
  }
}

// Designing the squares!
.squares {
  top: 0;
  left: 0;
  z-index: -100; // forcing it to be behind the board.
}

.squares li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: squares 25s linear infinite;
  bottom: -150px;
}

// The squares themselves
.squares li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.squares li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.squares li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.squares li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.squares li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.squares li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.squares li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.squares li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.squares li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.squares li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

// Animation of the squares!
@keyframes squares {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

